.asthm {
    width: 35px;
    height: 35px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    background-color:#9683EC;
    color: #FFFF;
    margin-right: 10px;
    

}
.log{
    width: 35px;
    height: 35px;
    border-radius: 25%;
}